<div class="container-fluid">
	<div>
		<ul class="breadcrumb">
			<li ng-repeat="breadcrumb in breadcrumbs.getAll()"><span
				class="divider">/</span> <ng-switch on="$last"> <span
					ng-switch-when="true">{{breadcrumb.name}}</span> <span
					ng-switch-default> <a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
				</span> </ng-switch></li>
		</ul>
	</div>

	<h2>Feature : {{feature.contentsInJson[0].name}}</h2>

	<p>{{feature.contentsInJson[0].description}}</p>

	<dl ng-repeat="scenario in feature.contentsInJson[0].elements">
		<dt>Scenario</dt>
		<dd>
			<p>{{scenario.name}}</p>
			<dl ng-repeat="step in scenario.steps">
				<dt>{{step.keyword}}</dt>
				<dd>{{step.name}}</dd>
			</dl>

		</dd>

	</dl>
</div>