/* app css stylesheet */

body {
  padding-top: 20px;
}

.features {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.feature li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

/** Detail View **/
img.feature {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}


h1 {
  border-bottom: 1px solid gray;
}
